/* Font */
body {
  font-family: "Dancing Script", cursive;
  font-family: "Lobster Two", cursive;
  font-size: 18px;
  line-height: 36px;
  background-color: lightgoldenrodyellow;
}

h1 {
  font-size: 80px;
  margin: 50px 0;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}

.container {
  width: 600px;
  background-color: lightgreen;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.gallery li {
  width: 120px;
  height: 120px;
  border: 5px solid yellow;
  float: left; /*! koataknya akan runtuh */
  margin: 10px;
  position: relative;
}

.gallery li a img,
.gallery li,
.gallery li span {
  border-radius: 50%;
}

/*! display span adalah inline yang tidak bisa di atur height dan widthnya */
.gallery li span {
  display: block;
  width: 120px;
  height: 120px;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 120px;
  color: yellow;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transition: 0.3s;
  transform: scale(0) rotate(0);
}

.gallery li a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}

/*! agar tidak runtuh digunakan segment clear di akhir li */
.clear {
  clear: both;
}

.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.7s;
  text-align: center;
  padding: 100px 0;
}

.overlay:target {
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.overlay:target img {
  animation: zoom 1s;
}

.overlay .close {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -30px;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 2px solid white;
  line-height: 15px;
  padding: 5px;
  opacity: 0;
}

.overlay:target .close {
  animation: forClose 0.5s 0.5s forwards;
}

.overlay:target .next,
.overlay:target .prev {
  animation: forNav 0.5s 0.5s forwards;
}

/*navigasi*/
.next,
.prev {
  width: 90px;
  height: 90px;
  background-image: url(../img/next.png);
  position: absolute;
  text-indent: -9999px;
  top: 40%;
  margin-left: 50px;
  opacity: 0;
}

.prev {
  background-image: url(../img/prev.png);
  margin-left: -140px;
}

/*animasi*/
@keyframes forNav {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes forClose {
  0% {
    opacity: 0;
    margin-top: -30;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

/*responsive*/
/* 500 px */
@media screen and (max-width: 500px) {
  .gallery li {
    float: none;
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    justify-content: center;
    max-width: 50%;
  }

  .overlay img {
    max-width: 75%;
  }

  .prev {
    left: 140px;
    top: 20%;
  }

  .next {
    right: 5px;
    top: 20%;
  }

  .overlay:target .next,
  .overlay:target .prev {
    animation: forNav 0.1s 1s forwards;
  }
}

/* 1000 px */
@media screen and (min-width: 500px) {
  .gallery li {
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
  }
  .container {
    display: flex;
    max-width: 70%;
    justify-content: space-between;
  }
  .overlay img {
    max-width: 70%;
  }

  .prev {
    left: 150px;
    top: 30%;
  }

  .next {
    right: 5px;
    top: 30%;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 600px;
    background-color: lightgreen;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  .gallery li {
    width: 120px;
    height: 120px;
    border: 5px solid yellow;
    float: left; /*! koataknya akan runtuh */
    margin: 10px;
    position: relative;
  }

  .overlay img {
    max-width: 100%;
  }

  .next {
    right: 250px;
    top: 40%;
  }

  .prev {
    left: 400px;
    top: 40%;
  }
}
